//BAR
.bar {

    &__title {
        color: $main-font-color;
        font-size: 24px;
        font-family: 'DelaGothicOne';
        text-align: right;
        @media (min-width:$breakpoint-md) {
            font-size: 48px;
        }
        @media (min-width:$breakpoint-lg) {
            font-size: 96px;
        }
    }

    &__links {
        margin-top: 33px;
        display: flex;
        gap: 10px;
        padding-bottom: 50px;
        @media (min-width: $breakpoint-md) {
            gap: 37px;
            padding-bottom: 100px;
        }
        @media (min-width: $breakpoint-lg) {
            padding-bottom: 150px;
        }
    }

    &__link-item {
        padding: 5px 24px;
        background: $pink-color;
        border-radius: 15px;
        font-family: 'Oswald';
        font-size: 18px;
        @media (min-width: $breakpoint-md) {
            font-size: 36px;
            padding: 9px 48px;
        }
        &:hover {
            background: #DE409C;
        }
    }

    &__link {
        text-decoration: none;
        color: $bg-color;
    }
}

//OFFER
.offer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__text-content {
        display: flex;
        flex-direction: column;
    }

    &__title {
        color: $main-font-color;
        font-size: 24px;
        font-family: 'DelaGothicOne';
        @media (min-width:$breakpoint-md) {
            font-size: 48px;
        }
        @media (min-width:$breakpoint-lg) {
            font-size: 96px;
        }
    }

    &__subtitle {
        margin-top: 20px;
        color: $main-font-color;
        font-size: 16px;
        font-family: 'Oswald';
        @media (min-width:$breakpoint-md) {
            font-size: 32px;
        }
        @media (min-width:$breakpoint-lg) {
            font-size: 64px;
        }
    }

    &__image-content {
        margin: 34px 0;
        max-width: 150px;
        max-height: 150px;
        @media (min-width:$breakpoint-md) {
            max-width: 205px;
            max-height: 205px;
        }
        @media (min-width:$breakpoint-lg) {
            max-width: 405px;
            max-height: 405px;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    &__price {
        margin-top: 20px;
        color: $main-font-color;
        font-size: 24px;
        font-family: 'Oswald';
        @media (min-width:$breakpoint-md) {
            font-size: 48px;
        }
        @media (min-width:$breakpoint-lg) {
            font-size: 96px;
        }
    }
}

//DRINKS
.drinks {

    &__title {
        padding: 80px 0 60px 0;
        background: $light-gradient;
        background-clip: text;
        color: transparent;
        font-size: 16px;
        font-family: 'Oswald';
        @media (min-width:$breakpoint-md) {
            font-size: 32px;
        }
        @media (min-width:$breakpoint-lg) {
            font-size: 64px;
        }
    }

    &__card {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        @media (min-width:$breakpoint-md) {
            flex-direction: row-reverse;
        }
    }

    &__card-image-content {
        flex: 0 1 30%;
        max-width: 183px;
        max-height: 148px;
        margin: 0 auto 50px;

        @media (min-width:$breakpoint-md) {
            margin: 0;
            max-width: 283px;
            max-height: 248px;
        }
        @media (min-width:$breakpoint-lg) {
            max-width: 383px;
            max-height: 348px;
        }
    }

    &__card-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__card-textcontent {
        display: flex;
        flex-direction: row-reverse;
        flex: 1 1 70%;
        justify-content: space-between;
    }

    &__card-textcontent-main {
        display: flex;
        flex: 1 1 50%;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 50px;
    }

    &__card-title {
        font-family: 'DelaGothicOne';
        color: $main-font-color;
        font-size: 15px;
        @media (min-width:$breakpoint-md) {
            font-size: 30px;
        }
    }

    &__card-subtitle {
        font-family: 'DelaGothicOne';
        color: $main-font-color;
        font-size: 10px;
        margin-top: 10px;
        @media (min-width:$breakpoint-md) {
            font-size: 15px;
        }
    }

    &__card-icons {
        display:flex;
        justify-content: space-between;
        margin-top: 20px;
        @media (min-width:$breakpoint-md) {
            margin: 0;
        }
    }

    &__card-icons-heart {  
        width: 25px;
        height: 22px;
        @media (min-width:$breakpoint-md) {
            width: 49px;
            height: 43px;
        }
    }

    &__card-icons-number {
        font-family: 'DelaGothicOne';
        color: $main-font-color;
        font-size: 15px;
        margin: auto 0;
    }

    &__card-price {
        flex: 1 1 30%;
        font-family: 'DelaGothicOne';
        color: $main-font-color;
        font-size: 15px;
        align-self: center;
        text-align: right;
        padding: 40px;
        @media (min-width:$breakpoint-md) {
            font-size: 32px;
            padding: 0;
            text-align: left;
        }
        @media (min-width:$breakpoint-lg) {
            font-size: 64px;
        }
    }
}

.right {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    @media (min-width:$breakpoint-md) {
        flex-direction: row;
    }
}

.right-textcontent {
    display: flex;
    flex-direction: row-reverse;
    flex: 1 1 70%;
    justify-content: space-between;
    @media (min-width:$breakpoint-md) {
        flex-direction: row;
    }
}

.card-textcontent-main-right {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0;
    @media (min-width:$breakpoint-md) {
        padding-left: 50px;
    }
}

.card-price-right {
    flex: 1 1 30%;
    font-family: 'DelaGothicOne';
    color: $main-font-color;
    font-size: 15px;
    align-self: center;
    text-align: right;
    padding: 40px;
    @media (min-width:$breakpoint-md) {
        font-size: 32px;
        padding: 0;
        text-align: right;
    }
    @media (min-width:$breakpoint-lg) {
        font-size: 64px;
    }
}