// COLORS
$bg-color: #18181C;

$main-font-color: #D9D9D9;
$light-blue-color: #768CFF;
$dark-blue-color: #1737D9;

$pink-color: #EDB9D7;

$light-gradient: linear-gradient(264.01deg, #EDB9D7 -9.89%, #768CFF 93.19%);
$dark-gradient: linear-gradient(264.01deg, #EDB9D7 9.51%, #1737D9 93.19%);

//BREAKPOINTS

$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1920px;