.we {

    &__title {
        padding-top: 80px;
        background: $light-gradient;
        background-clip: text;
        color: transparent;
        font-size: 96px;
        font-family: 'Oswald';
    }

    &__team-image {
        max-width: 904px;
        max-height: 681px;
        position: relative;
        margin: 0 auto;
    }

    &__team-image-content {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}